<header>
  <div class="header-wrapper">
    <div class="header-logo"></div>
    <div class="header-nav">
      <ul class="header-lists">
        <li class="header-list">
          <%= link_to "ユーザー名" %>
        </li>
        <li class="header-list">
          <%= link_to "お知らせ" %>
        </li>
        <li class="header-list">
          <%= link_to "新規投稿" %>
        </li>
        <li class="header-list">
          <%= link_to "ログアウト" %>
        </li>
      </ul>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <div class="side-bar"></div>
    <div class="posts-wrapper">
      <div class="post">
        <div class="post-upper">
          <div class="post-img"></div>
          <div class="text">
            <p>
              テキストテキストテキストテキストテキストテキストテキストテキストテキスト
            </p>
          </div>
        </div>
        <div class="post-lower">
          <div class="likes">
            <%= link_to "like" %>
          </div>
        </div>
      </div>
      
      <div class="post">
        <div class="post-upper">
          <div class="post-img"></div>
          <div class="text">
            <p>
              テキストテキストテキストテキストテキストテキストテキストテキストテキスト
            </p>
          </div>
        </div>
        <div class="post-lower">
          <div class="likes">
            <%= link_to "like" %>
          </div>
        </div>
      </div>

      <div class="post">
        <div class="post-upper">
          <div class="post-img"></div>
          <div class="text">
            <p>
              テキストテキストテキストテキストテキストテキストテキストテキストテキスト
            </p>
          </div>
        </div>
        <div class="post-lower">
          <div class="likes">
            <%= link_to "like" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <p class="copyrights">Copyright © SAMPLE All rights reserved.</p>
</footer>