<%= render 'shared/header' %>

<main>
  <div class="container">
    <div class="side-bar">
      <div class="form-container">
        <%= form_with local: true do |f| %>
          <div class="post-form-wrapper">
            <%= f.label :text, "コメントする" %>
            <%= f.text_area :text, rows: "6", class: "post-textarea" %>
            <%= f.submit "送信", class: "post-submit" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="posts-wrapper">
      <div class="post">
        <div class="post-upper">
          <div class="post-img"></div>
            <div class="text-box">
            <div class="user-nickname">
              <%= link_to @post.user.nickname %>
            </div>
            <div class="text">
              <p>
              <%= @post.text %>
              </p>
            </div>
          </div>
        </div>
        <div class="post-lower">
          <div class="likes">
            <span>likes: 0</span>
          </div>
          <div class="edit">
            <% if user_signed_in? && current_user.id == @post.user_id %>
              <%= link_to "destroy", post_path(@post), method: :delete %>
              <%= link_to "edit", edit_post_path(@post) %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="comments-wrapper">
        <div class="comments">
          <div class="comment">
            <div class="comment-img"></div>
            <div class="comment-box">
              <span>ユーザー名</span>
              <p>コメントコメント</p>
            </div>
          </div>

          <div class="comment">
            <div class="comment-img"></div>
            <div class="comment-box">
              <span>ユーザー名</span>
              <p>コメントコメント</p>
            </div>
          </div>

          <div class="comment self">
            <div class="comment-img"></div>
            <div class="comment-box">
              <span>ユーザー名</span>
              <p>コメントコメント</p>
            </div>
          </div>

          <div class="comment">
            <div class="comment-img"></div>
            <div class="comment-box">
              <span>ユーザー名</span>
              <p>コメントコメント</p>
            </div>
          </div>

          <div class="comment self">
            <div class="comment-img"></div>
            <div class="comment-box">
              <span>ユーザー名</span>
              <p>コメントコメント</p>
            </div>
          </div>
        </div>
      </div>

      <div class="back-btn">
        <%= link_to "←BACK", root_path %>
      </div>
    </div>
  </div>
</main>

<%= render 'shared/footer' %>